{{ if or (eq .ReasonForExam "comprehensive") (eq .ReasonForExam "recall") }}
<div>
  <div>
    <label for="Xrays">X-rays:</label>
    <textarea id="Xrays" name="Xrays"></textarea>
  </div>

  <div>
    <label for="PerioDx">Perio Dx:</label>
    <textarea id="PerioDx" name="PerioDx"></textarea>
  </div>

  <div>
    <label for="ClinicalCaries">Clinical Caries:</label>
    <textarea id="ClinicalCaries" name="ClinicalCaries"></textarea>
  </div>
</div>
{{ else if eq .ReasonForExam "extraction" }}
  Extraction sub fields
{{ else if eq .ReasonForExam "restorative" }}
  Restorative sub fields
{{ end }}