{{ if or (eq .ReasonForExam "comprehensive") (eq .ReasonForExam "recall") }}
<div>
  <div>
    <label for="Xrays">X-rays:</label>
    <textarea id="Xrays" name="Xrays"></textarea>
  </div>

  <div>
    <label for="PerioDx">Perio Dx:</label>
    <textarea id="PerioDx" name="PerioDx"></textarea>
  </div>

  <div>
    <label for="ClinicalCaries">Clinical Caries:</label>
    <textarea id="ClinicalCaries" name="ClinicalCaries"></textarea>
  </div>
</div>
{{ else if eq .ReasonForExam "extraction" }}
<div>
  <label for="ToothNumbers">Tooth Numbers:</label>
  <textarea id="ToothNumbers" name="ToothNumbers"></textarea>
</div>
{{ else if eq .ReasonForExam "restorative" }}
<div>
  <label for="ToothNumbersAndSurfaces">Tooth Number and Surfaces:</label>
  <textarea id="ToothNumbersAndSurfaces" name="ToothNumbersAndSurfaces"></textarea>
</div>
{{ end }}